@import url("https://fonts.googleapis.com/css?family=Cormorant:400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700,800");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato";
    color: #333;
    overflow-x: hidden !important;
}

.navbar,
.ormas h2,
#agenda h2,
#potensi h2,
#agenda h5,
#potensi h5,
#potensi .see-more {
    font-family: "Lato", sans-serif;
    color: #002147;
    font-style: normal;
}

.navbar {
    height: 60px;
    position: sticky;
    background-color: #002147;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #002147;
    transition: all 0.25s ease 0s;
}

.navbar a {
    color: #ddd;
}

.navbar a:focus {
    color: #ddd;
}

.active {
    color: orange !important;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.87);
    color: #333;
}

.navbar.scrolled a {
    color: #333;
}

.navbar-brand {
    font-family: "Cormorant";
}

.navbar-brand:hover {
    color: #ddd;
    text-decoration: none;
}

.navbar-nav .nav-link {
    font-family: "Lato";
}

.navbar-nav .nav-link:hover {
    color: orange;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    padding-right: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#navbarSupportedContent.show {
    margin-top: 12px;
    transition: all, 0.1s;
}

#navbarSupportedContent.show {
    background-color: #002147;
}

.navbar.scrolled #navbarSupportedContent.show {
    background-color: rgba(255, 255, 255, 0.87);
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-img {
    height: 50px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Hero */
.hero {
    position: relative;
    top: -60px;
    margin-bottom: -60px;
}

.hero__items {
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
}

.hero-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-prev {
    left: 0;
}

.hero-next {
    right: 0;
}

/*  */
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

#custom-text-link {
    font-size: 11pt;
}

#module {
    font-size: 1rem;
    line-height: 1.5;
}

.img-agenda, .img-galeri {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card-agenda {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.card-text {
    color: #6c757d;
}

.card img {
    max-height: 500;
}

.line-clamp.dua {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.line-clamp.satu {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.btn-buy, .btn-more{
    background: rgb(10, 88, 202);
    color: white;
    border-radius: 30px;
    padding: 5px;
    border: none;
    transition: all, 0.2s;
}

.btn-more {
    width: 200px;
    height: 40px;
    font-size: 13pt;
    margin-bottom: 0px;
}

.btn-buy{
    width: 150px;
}

.btn-more:hover, .btn-buy:hover{
    background-color: rgb(13, 110, 253);
    color: white;
}


.ormas img {
    max-width: 140px;
    max-height: 140px;
}

.nav-button {
    position: absolute;
    top: 25%;
    height: 35px;
    width: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 100% !important;
    transition: all 0.2s;
}

.owl-prev {
    left: -50px;
}

.owl-next {
    right: -50px;
}

.owl-prev i {
    margin-right: 2px;
}

.owl-next i {
    margin-left: 2px;
}

.nav-button i {
    font-size: 12px;
}

.owl-nav {
    height: 0 !important;
    margin: 0 !important;
}

/* gallery modal */
.lightbox-modal .modal-content {
    background: var(--lightbox);
}

.lightbox-modal .btn-close {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 1.2rem;
    z-index: 10;
}

.lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

.lightbox-modal img {
    width: auto;
    max-height: 100vh;
    max-width: 100%;
}

.lightbox-modal .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.75);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: auto;
}

.lightbox-modal .carousel-control-prev {
    left: 10%;
}

.lightbox-modal .carousel-control-next {
    right: 10%;
}

.badge {
    background: rgba(0, 33, 71, 0.9);
}

.profile {
    height: 360px;
    width: 400px;
    object-fit: cover;
    object-position: 100% 40%;
}

.agenda,
.galeri,
.bg {
    background-color: rgb(243, 246, 249);
}

.penduduk {
    background-image: url(/assets/img/main/bg-penduduk.jpg);
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.count-penduduk {
    padding: 50px 0;
}

.count-penduduk div p {
    margin-left: 15px;
}

.sambutan,
.ormas,
.agenda,
.potensi {
    padding: 40px 0 50px;
}

.see-more:hover{
    color: rgb(13, 110, 253);
    text-decoration: underline;
}

.galeri {
    padding: 50px 0 30px 0;
}

/* footer */
.bg-dark-blue {
    background: #002147;
}

.copyright {
    font-size: 14px;
    color: #909da4;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
    body {
        overflow-x: hidden !important;
    }
    .container-profile {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .profile {
        width: 100%;
        object-position: 100% 35%;
    }
    .count-penduduk {
        padding: 15px 0;
    }
    .count:first-child .count-penduduk {
        padding-top: 45px;
    }
    .count:last-child .count-penduduk {
        padding-bottom: 45px;
    }
    .count-penduduk div {
        display: flex;
        flex-direction: column;
    }
    .count-penduduk div p {
        margin: 0;
    }
    .hero__items {
        height: 80vh;
    }
    .owl-nav {
        display: none;
    }
}
