html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato';
  color: #333;
}

.navbar, #ormas h2, #agenda h2, #potensi h2, #agenda h5, #potensi h5{
    font-family: 'Lato', sans-serif;
    color: #002147;
}
.navbar {
    height: 60px;
    position: sticky;
    background-color:  #002147;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #002147;
    color: white;
    transition: all 0.25s ease 0s;
  }

.navbar a{
    color: white;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, .75);
  color: #333;
}

.navbar.scrolled a{
    color: #333;
}

.navbar-brand {
    font-family: 'Cormorant';

}

.navbar-brand:hover {
    color: #333;
    text-decoration: none;
}

.navbar-nav .nav-link {
    font-family: 'Lato';
}

.navbar-nav .nav-link:hover {
    color: orange;
    text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:focus .navbarSupportedContent {
  background-color: black;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-img {
    height: 50px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.hero {
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#custom-text-link{
font-size: 11pt;
}

#module {
font-size: 1rem;
line-height: 1.5;
}

.card-agenda {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.card-text {
  color: #6c757d;
}

.card img{
  max-height: 500;
}

.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.btn-more{
  width: 200px;
  padding: 5px;
  border: none;
  background: rgb(10, 88, 202);
  color: white;
  height: 40px;
  border-radius: 30px;
  font-size: 13pt;
  margin-bottom: 0px;
  transition: all, 0.2s;
}

.btn-more:hover{
  background-color: rgb(13, 110, 253);
}

.potensi .potensi-img {
    display: flex;
    justify-content: center;
}

.potensi img {
    max-width: 200px;
    max-height: 200px;
}
/* footer */
.bg-dark-blue{
    background: #002147;
}

#ormas img{
  max-width: 140px;
  max-height: 140px;
}

.nav-button {
  position: absolute;
  top: 25%;
  border-radius: 100% !important;
  transition: all 0.2s;
}

.owl-prev {
  left: -50px;
  padding: 7.5px 17.5px 10px 15px !important;
}

.owl-next {
  right: -50px;
  padding: 7.5px 15px 10px 17.5px !important;
}

.nav-button i {
  font-size: 12px;
}

.owl-nav {
  margin: 0 !important;
}

  /* gallery modal */
  .lightbox-modal .modal-content {
    background: var(--lightbox);
  }

  .lightbox-modal .btn-close {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 1.2rem;
    z-index: 10;
  }

  .lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  .lightbox-modal img {
    width: auto;
    max-height: 100vh;
    max-width: 100%;
  }

  .lightbox-modal .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.75);
  }

  .lightbox-modal .carousel-control-prev,
  .lightbox-modal .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: auto;
  }

  .lightbox-modal .carousel-control-prev {
    left: 10%;
  }

  .lightbox-modal .carousel-control-next {
    right: 10%;
  }

.sambutan {
    background-image: url(/assets/img/main/bg-pantai.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.badge {
  background: rgba(0, 33, 71, 0.9);
}

.profile {
    height: 360px;
    width: 400px;
    object-fit: cover;
    object-position: 100% 40%;
    background-color: rgb(243, 246, 249);
}

.agenda, .galeri, .bg {
  background-color: rgb(243, 246, 249);
}

.penduduk {
  background-image: url(/assets/img/main/bg-penduduk.jpg);
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: cover
}

.count-penduduk {
  padding: 60px 0;
}

.count-penduduk div p {
  margin-left: 15px;
}

.agenda, .potensi {
  padding: 50px 0;
}

.galeri {
  padding: 50px 0 30px 0;
}

.copyright {
  color: #909da4;
  font-size: 13px;
}

@media (max-width: 767.98px) {
  .count-penduduk {
    padding: 15px 0;
  }
  .count:first-child .count-penduduk {
    padding-top: 45px;
  }
  .count:last-child .count-penduduk {
    padding-bottom: 45px;
  }
  .count-penduduk div {
    display: flex;
    flex-direction: column;
  }
  .count-penduduk div p {
    margin: 0;
  }
  .owl-nav {
    display: none;
  }
}
