
.navbar, #ormas h2, #agenda h2, #potensi h2, #agenda h5, #potensi h5{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 73.7px;
    position: sticky;
    background-color: rgba(0, 26, 57, 0.87);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

.navbar-brand:hover {
    color: white;
    text-decoration: none;

}

.navbar-nav .nav-link:hover {
    color: #83764F;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-img {
    height: 50px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Start Gallery CSS */
.thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
 /* Start Gallery CSS */
 .thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#custom-text-link{
font-size: 11pt;
}

#module {
font-size: 1rem;
line-height: 1.5;
}

.card img{
max-height: 500;
}

.read-more, .read-less{
color:#485ae4;
cursor: pointer;
font-weight: 400;
text-transform: lowercase;
font-size: 12pt;
}

.read-less:hover, .read-more:hover{
text-decoration: underline;
}

.btn-more{
width: 200px;
padding: 5px;
border: none;
background: #485ae4;
color: white;
height: 40px;
border-radius: 30px;
font-size: 13pt;
margin-bottom: 0px;
}

.btn-more:hover{
text-decoration: underline;
background-color: blue
}

.blue-title{
color: #485ae4;
}

.potensi img{
    margin-left: 15%;
    max-width: 200px;
    max-height: 200px;
}

/* .potensi{
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

.ormas img{
    max-width: 140px;
    max-height: 140px;
  }

.ormas .carousel-inner .carousel-item.active,
.ormas .carousel-inner .carousel-item-next,
.ormas .carousel-inner .carousel-item-prev{
    display: flex;
    justify-content: center;
    text-align: center;
  }

.ormas .carousel-control-prev,.ormas .carousel-control-next {
    background-color: #485ae4;
    width: 35px;
    height: 35px;
    opacity: 100%;
}

.text-dark-blue {
    color: rgba(0, 26, 57, 1);
}

.bg-dark-blue {
    background-color: rgba(0, 26, 57, 1);
}