.navbar, #ormas h2, #agenda h2, #potensi h2, #agenda h5, #potensi h5{
    font-family: 'Poppins', sans-serif;
    color: #002147;
}
.navbar{
    background-color: rgba(0, 26, 57, 0.9) ;
    position: sticky;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

.navbar-brand:hover {
    color: white;
    text-decoration: none;

}

.navbar-nav .nav-link:hover {
    color: #83764F;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-img {
    height: 50px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


#custom-text-link{
font-size: 11pt;
}

#module {
font-size: 1rem;
line-height: 1.5;
}

.card-agenda {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.card img{
max-height: 500;
}

.read-more, .read-less{
color:rgb(13, 110, 253);
cursor: pointer;
font-weight: 400;
text-transform: lowercase;
font-size: 12pt;
}

.read-less:hover, .read-more:hover{
text-decoration: underline;
}

.btn-more{
width: 200px;
padding: 5px;
border: none;
background: rgb(10, 88, 202);
color: white;
height: 40px;
border-radius: 30px;
font-size: 13pt;
margin-bottom: 0px;
transition: all, 0.2s;
}

.btn-more:hover{
background-color: rgb(13, 110, 253);
}

.blue-title{
color: rgb(13, 110, 253);
}

.potensi .potensi-img {
    display: flex;
    justify-content: center;
}

.potensi img {
    margin-left: 15%;
    max-width: 200px;
    max-height: 200px;
}
/* footer */
.bg-dark-blue{
    background: #002147;
}
.text-dark-blue{
    color : #002147;
}

/* .potensi{
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

.ormas img{
    max-width: 140px;
    max-height: 140px;
  }

.ormas .carousel-inner .carousel-item.active,
.ormas .carousel-inner .carousel-item-next,
.ormas .carousel-inner .carousel-item-prev{
    display: flex;
    justify-content: center;
    text-align: center;
  }

.ormas .carousel-control-prev,
.ormas .carousel-control-next {
    background-color: rgb(10, 88, 202);
    width: 35px;
    height: 35px;
    opacity: 100%;
    border-radius: 50% !important;
    transition: all, 0.2s;
}

.ormas .carousel-control-prev:hover,
.ormas .carousel-control-next:hover {
  background-color: rgb(13, 110, 253)
}

  /* gallery modal */
  .lightbox-modal .modal-content {
    background: var(--lightbox);
  }

  .lightbox-modal .btn-close {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 1.2rem;
    z-index: 10;
  }

  .lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  .lightbox-modal img {
    width: auto;
    max-height: 100vh;
    max-width: 100%;
  }

  .lightbox-modal .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.75);
  }

  .lightbox-modal .carousel-control-prev,
  .lightbox-modal .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: auto;
  }

  .lightbox-modal .carousel-control-prev {
    left: 10%;
  }

  .lightbox-modal .carousel-control-next {
    right: 10%;
  }

.sambutan {
    background-image: url(/assets/img/main/bg-pantai.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.profile {
    height: 350px;
    width: 400px;
    object-fit: cover;
    object-position: 100% 35%;
    background-color: rgb(243, 246, 249);
}

.potensi img{
    margin-left: 15%;
    max-width: 200px;
    max-height: 200px;
}

.agenda, .galeri {
  background-color: rgb(243, 246, 249);
}

.penduduk {
  background-image: url(/assets/img/main/bg-penduduk.jpg);
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: cover
}

.agenda, .potensi {
  padding: 50px 0;
}

.galeri {
  padding: 50px 0 30px 0;
}

.copyright {
  color: #909da4;
  font-size: 13px;
}